<footer class="p-3">
    <div class="row">
        <div class="col-6 footerDiv">
            <i class="fa fa-copyright" aria-hidden="true"></i>
            <p>Sivuston luonut Team 1.</p>
            <p>Anne Arhipoff, Eeva Arhipoff, Eiri Laaksonen</p>
            <p>Kaikki oikeudet pidätetään.</p>
        </div>
        <div class="offset-md-1 col-5 footerDiv">
            <a id="moreInfoOnPlant" href="./plantInfo?id={{{plantId}}}">Katso lisätietoa taustakuvan kasvista tästä
                linkistä.</a>
        </div>
    </div>
</footer>