<footer>
    <div class = "row">
        <div class="col-8">
            <i class="fa fa-copyright" aria-hidden="true"></i>
            <p>Sivuston luonut Team 1.</p>
            <p>Anne Arhipoff, Eeva Arhipoff, Eiri Laaksonen</p>
            <p>Kaikki oikeudet pidätetään.</p>
        </div>
        <div class="col-4">
            <p>Halutessasi lisätietoa taustakuvan kasvista voi katsella <a href="./plantInfo">täältä</a></p>
        </div>
    </div>
</footer>