<h1>Työntekijöiden hallinta</h1>
<form action="">
    <fieldset>
        <legend>Uusi työntekijä</legend>
        <label for="employeeName" placeholder="Nimi">Työntekijän nimi: </label>
        <input id="employeeName" type="text" />
        <label for="employeePhone" placeholder="Puhelinnumero">Puhelinnumero: </label>
        <input id="employeePhone" type="text" />
        <label for="employeeEmail" placeholder='Sähköpostiosoite'>Sähköpostiosoite: </label>
        <input id="employeeEmail" type="email" />
        <button>Lisää työntekijä</button>
    </fieldset>
</form>

<h2>Katso työntekijän tiedot</h2>
{{#each workers}}
<h3>{{this}}</h3>
{{/each}}