<main id="worklist">
    <section class="worklist">
        <form id="worklist">
            <fieldset class="worklist">
                <legend>
                    <h3>Viikon työkohteet</h3>
                </legend>
            <div class="worklist">
                <table id="worklist">
                    <tr>
                        <th>Maanantai</th>
                        <th>Tiistai</th>
                        <th>Keskiviikko</th>
                        <th>Torstai</th>
                        <th>Perjantai</th>
                    </tr>
                    <tr>
                        {{#each AppointedWorksites}}
                        <td>{{this.date}} {{{this.customerName}}}
                        {{this.chores}}</td>
                        {{/each}}
                    </tr>
                </table>
            </div>
            </fieldset>
        </form>
    </section>
    <section class="worksiteForecast">
        <form id="worksiteForecast">
            <fieldset class="worksiteForecast"> 
                <aside>
                    <legend>
                        <h3>Työkohteen sääennuste</h3>
                    </legend>

                </aside>
            </fieldset>
        </form>
    </section>
</main>

