<form id="worklist">
<fieldset>
    <legend>Viikon työkohteet</legend>
    <div class="worklist">
        <table id="worklist">
             <tr>
                <th>Maanantai</th>
                <th>Tiistai</th>
                <th>Keskiviikko</th>
                <th>Torstai</th>
                <th>Perjantai</th>
            </tr>
            <tr>
                <td>Bill Gates</td>
                <td>555 77 854</td>
                <td>555 77 855</td>
            </tr>
        </table>
    </div>
</fieldset>

<fieldset>
    <aside>
    <legend>Työkohteen sääennuste</legend>
    <p>{{#each works}}</p>
   <p>{{this.date}}: {{{this.customerName}}}</p>
      </p>{{/each}}</p>
    </aside>
    </fieldset>
</form>

