<header>
    <h1>Puutarhurin työlista</h2>
</header>

<main>
<fieldset>
    <legend>Viikon työkohteet</legend>
    <div class="worklist">
        <table style="width:70%">
             <tr>
                <th>Maanantai</th>
                <th>Tiistai</th>
                <th>Keskiviikko</th>
                <th>Torstai</th>
                <th>Perjantai</th>
            </tr>
            <tr>
                <td>Bill Gates</td>
                <td>555 77 854</td>
                <td>555 77 855</td>
            </tr>
</table>
    </div>
</dl>
</fieldset>
</main>