<main id="worklist">
    <section class="worklist">
        <form id="worklist">
            <fieldset class="worklist">
                <div class="list-group">
                    <legend><h3>Seuraavat työkohteet</h3></legend>
                    <ul class="list-group list-group-horizontal"></ul>
                    {{#each AppointedWorksites}}
                        <li class="list-group-item"> {{this.date}} </li>
                        <li class="list-group-item"> {{{this.customerName}}} </li>
                        <li class="list-group-item"> {{this.chores}} </li>
                    {{/each}}
                    </ul>               
                </div>
            </fieldset>
        </form>
    </section>
    <section class="worksiteForecast">
        <form id="worksiteForecast">
            <fieldset class="worksiteForecast"> 
                <aside>
                    <legend>
                        <h3>Työkohteen sääennuste</h3>
                    </legend>
                </aside>
            </fieldset>
        </form>
    </section>
</main>

