<header>
{{!-- <nav> --}}
    <h1 id="navTitle">{{title}}</h1>
    {{!-- <form class="signInForm" action=""> --}}
            <label for="username" class="formLabel">User name:</label>
            <input type="text" id="username">
            <label for="password" class="formLabel">Password:</label>
            <input type="text" id="password">
        <button type="submit">Sign in</button>
    {{!-- </form> --}}
{{!-- </nav> --}}
</header>

<main>
    <h2>Tee työtilaus Penan Puutarhalle</h2>

    <form id="addWorkForm" action="">

        <fieldset>
            <legend>Tilaajan tiedot</legend>
            <label for="">Nimi:</label>
            <input type="text">
            <label for="">Osoite:</label>
            <input type="text">
            <label for="">Puhelinnumero:</label>
            <input type="text">
            <label for="">Sähköposti:</label>
            <input type="text">
        </fieldset>

        <fieldset>
            <legend>Kohteen tiedot</legend>
            <label for="">Kohteen osoite:</label>
            <input type="text">
            <label for="">Postinumero:</label>
            <input type="text">
            <label for="">Paikkakunta:</label>
            <input type="text">
        </fieldset>

        <fieldset>
            <legend>Kohteeseen tilattavat työt</legend>
            <div>
                <input type="checkbox" id="haravointi" value="Haravointi">
                <label for="haravointi">Haravointi</label>
            </div>
            <div>
                <input type="checkbox" id="nurmikonleikkaus" value="Nurmikonleikkaus">
                <label for="nurmikonleikkaus">Nurmikonleikkaus</label>
            </div>
            <div>
                <input type="checkbox" id="istutustyö" value="Istutustyö">
                <label for="istutustyö">Istutustyö</label>
            </div>
            <div>
                <input type="checkbox" id="rikkaruohojenKitkentä" value="Rikkaruohojen kitkentä">
                <label for="rikkaruohojenKitkentä">Rikkaruohojen kitkentä</label>
            </div>
            <div>
                <label for="lisätietoja">Muita toiveita tai lisätietoja:</label>
                <textarea id="lisätietoja" rows="5" cols="30"></textarea>
            </div>
        </fieldset>
    </form>

  
</main>