<nav>
    <h1 id="navTitle">{{title}}</h1>
    <form class="signInForm" action="">
        <div class="signInInput">
        <label for="username" class="formLabel">User name:</label>
        <input type="text" id="username">
        </div>
        <div class="signInInput">
        <label for="password" class="formLabel">Password:</label>
        <input type="text" id="password">
        </div>
        <button type="button" id="signInButton">Sign in</button>
    </form>
</nav>

<main>
    <form id="addWorkForm" action="">
        <fieldset>
        <legend>Tilaajan tiedot</legend>
        <div>
            <label for="">Nimi</label>
            <input type="text">
        </div>
        <div>
            <label for="">Osoite</label>
            <input type="text">
        </div>
        <div>
            <label for="">Puhelinnumero</label>
            <input type="text">
        </div>
        <div>
            <label for="">Sähköposti</label>
            <input type="text">
        </div>
        </fieldset>
       
       <fieldset>
        <legend>Kohteen tiedot</legend>
        <div>
            <label for="">Kohteen osoite</label>
            <input type="text">
        </div>
        <div>
            <label for="">Postinumero</label>
            <input type="text">
        </div>
        <div>
            <label for="">Paikkakunta</label>
            <input type="text">
        </div>
       </fieldset>
    </form>
</main>