<main>
    <article class="greenBack text-center">
        <p class="feature">Nimi:</p>
        <p class="description">Silver leaf</p>
        <p class="feature">Latinankielinen nimi:</p>
        <p class="description">Kokkodus kokkodus</p>
        <p class="feature">Kasvupaikka:</p>
        <p class="description">Valoisa</p>
        <p class="feature">Kastelu</p>
        <p class="description">Hitusen vettä</p>
        <p class="feature"></p>
        <p class="description"></p>
        <p class="feature"></p>
        <p class="description"></p>
        <p class="feature"></p>
        <p class="description"></p>
        <p class="feature"></p>
        <p class="description"></p>
        <p class="feature"></p>
        <p class="description"></p>
    </article>
</main>