:root {
    --sectionsBgColor: #BACEC1;
    color: #0F2310;
    box-sizing: border-box;
}

html {
    width: 100%;
}

body {
    margin: 0;
    background-image: url("testBackground.jpg");
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4em;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    overflow: hidden;
    background-color: rgb(238, 248, 236);
    margin-bottom: 1em;
}

footer {
    font-size: 17px;
    padding: 0.4em;
    margin-top: 1em;
    overflow: hidden;
    background-color: rgb(238, 248, 236);
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
    padding: 0.3em;
}

form {
    background-color: var(--sectionsBgColor);
    padding: 1em;
    width: min-content;
    max-width: 100%;
    font-size: 0.8em;
}

input[type=text],
textarea {
    font-size: 0.7em;
    margin: 0.3em 0 0.5em 0;
    padding: 0.2em;
}

button {
    height: fit-content;
    width: max-content;
    padding: 0.4em 0.6em;
    font-size: 0.7em;
    font-weight: 600;
    background-color: rgb(204, 191, 241);
    color: #111a46;
    border: 2px solid #1D3124;
    border-radius: 15px;
    letter-spacing: 0.08em;
    margin: 0.8em 0;
}

.description {
    background-color: #BACEC1;
    width: 80%;
    padding: 0.6em;
    font-size: 0.8em;
}

.signIn {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #BACEC1;
    margin-top: 1em;
    width: max-content;
    max-width: 90%;
    padding: 1em;
}


/* Work Intake page */
#addWorkForm {
    display: flex;
    flex-direction: row;
}

/* ADMIN-page css */
#addDeleteEditEmployee {
    display: flex;
    flex-direction: row;
}

.employeeFormSelection {
    width: 33%;
}

.employeeFormSelection>form {
    width: 90%;
}

.employeeFieldset>label {
    align-content: center;
}

.employeeFieldset {
    display: grid;
    grid-template-columns: 40fr 60fr;
}

/* End of ADMIN-page css */