:root {
    --sectionsBgColor: #808080;
}

body {
    margin: 0;
    background-image: url("testBackground.jpg");
}

h1 {
    font-size: 40px;
}


/* Navigation bar */
nav {
    overflow: hidden;
    background-color: rgb(238, 248, 236);
}

#navTitle {
    margin: 1em 0.5em 1em 0.5em;
    float: left;
}

.signInForm {
    float: right;
}

.formLabel {
    font-size: 20px;
}

.signInInput {
    margin-top: 0.5em;
    margin-right: 2em;
    font-size: 17px;
    width: 150px;
}

#username,
#password {
    padding: 3px;
    font-size: 17px;
    width: 150px;
}

button {
    height: fit-content;
    width: max-content;
    padding: 0.4em;
    font-size: 0.6em;
    font-weight: 700;
    background-color: black;
    color: white;
}

#signInButton {
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}

form {
    display: flex;
    flex-direction: row;
    background-color: var(--sectionsBgColor);
    padding: 1em;
    font-size: 1.8em;
    width: min-content;
}

input {
    font-size: 1em;
    margin: 0.3em 0 0.5em 0;
}